html {font-size: 16px;}
body {
  width: 85%;
  margin: auto;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
*, *:before, *:after {box-sizing: border-box;}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2rem;
  justify-content: center;
}
.wide-left {grid-column: 1 / 3;}
.wide-right {grid-column: 2 / 4;}
.wide-center {grid-column: 1 / 4;}

.card {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background: transparent;
  transition: .3s;
}
.card:hover {
  opacity: 0.8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card .title, .card .icon {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px 0 15px 0;
  padding: 15px;
  color: #fff;
}
.card h3 {
  font-size: 1.5rem;
  margin: 0;
}
.card h4 {
  margin: 0;
  font-size: 0.8rem;
}
.card img {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.card .icon {
  display: flex;
  bottom: 0;
  right: 0;
}
.card .icon p {
  line-height: 0;
  margin: 0;
  margin-right: 0.5rem;
}
.card p:last-child {
  margin: auto 0 0 auto;
}
.card a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.profile-area {margin: 2rem 0;}
.profile-area .img-area {
  text-align: center;
}
.profile-area .img-area img {
  border-radius: 50%;
}
.profile nav {
  display: flex;
  flex-wrap: wrap;
}
.profile nav a {
  margin: 0 10px 10px 0;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #333;
  transition: 0.5s;
  text-decoration: none;
}
.profile nav a:hover {
  color: #fff;
  background-color: #333;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.profile .qiita {color: #55C500;}
.profile .qiita:hover {background-color: #55C500;}
.profile .youtube {color: #ff0000;}
.profile .youtube:hover {background-color: #ff0000;}
.profile .soundcloud {color: #ff8800;}
.profile .soundcloud:hover {background-color: #ff8800;}
.profile .note {color: #2dcdb5;}
.profile .note:hover {background-color: #2dcdb5;}

footer .description p i {margin-right: 5px;}

@media screen and (min-width: 800px) {
  .profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-area .img-area {margin-right: 1rem;}
  .profile-area img {
    width: 100px;
  }
  .profile h4 {margin: 0 0 1rem 0;}
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
  }
  footer p {margin: 0;}
  footer .description {display: flex;}
  footer .description p {margin: auto 5px;}
}

@media screen and (max-width: 800px) {
  .card img, footer, footer .description {
    display: block;
  }
  .profile-area .img-area img {
    width: 100%;
  }
}