html {
  font-size: 18px;
}

body {
  margin: auto;
  width: 90%;
  max-width: 60rem;
  cursor: default;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #222;
}

header {
  margin: 4rem auto 2rem auto;
}

header, footer {
  text-align: center;
}

header::after, hr::before {
  content: "";
  display: block;
  height: 6px;
  background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

p {
  line-height: 1.6;
  margin-top: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

hr {
  margin-top: 1.5rem;
  border: none;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
}

.card {
  position: relative;
  display: inline-block;
  text-align: center;
  background: linear-gradient(45deg, #3d99be 0%, #3ab5b0 100%);
  border-radius: 5px;
  max-width: 20rem;
  padding: 1em;
}

.card a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card:hover .card-img {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  transition: .1s;
}

.card-img {
  width: 100%;
  border-radius: 5px;
}

.text {
  margin-top: 1.2em;
  color: #fff;
  font-size: 1.1rem;
}

.device, .dark, .type {
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 0.9rem;
}

.device {
  background: #9400d3;
}

.dark {
  background: #1f1f1f;
}

.type {
  background: #ff8c00;
}

.follow-icon {
  margin: 1.2em 0;
}

.icon {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.3em;
  text-decoration: none;
}

.icon:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
  body {
    background: #1f1f1f;
    color: #fff;
  }
}