html {
  font-size: 20px;
  position: relative;
}

body {
  margin: auto;
  cursor: default;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #fff;
  background: linear-gradient(to bottom, #c0c6c9, #999999);
}

/* ヘッダー */
header, main .text, footer {text-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);}

header {
  text-align: center;
  font-weight: 900;
  color: #ffd900;
  margin: 3rem 0;
}

header img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #ffd900;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

header h2 {
  letter-spacing: 2px;
  font-size: 2.5rem;
}

/* メインエリア */
main {
  width: 90%;
  max-width: 70rem;
  margin: 5rem auto;
}

/* カードエリア */
.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.card {
  position: relative;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 5px;
  max-width: 18rem;
  overflow: hidden;
}

.card p {
  line-height: 1.6;
  margin-top: 0;
}

.card a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 50px 50px -50px #ffd900;
}

.card-img, .card :not(.card-img) {transition: all 0.5s ease;}

.card:hover :not(.card-img) {opacity: 0.8;}

.card:hover .card-img {
  box-shadow: 0 50px 50px -40px #ffd900;
  transform: translateY(5px);
}

.card:hover .text {text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);}

.article .text {
  margin-top: 1.2em;
  font-size: 1.1rem;
}

.device, .dark, .type {
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 0.9rem;
}

.device {background: #1f7299;}
.dark {background: #1f1f1f;}
.type {background: #ff1493;}

/* フッター */
footer {
  position: absolute;
  display: flex;
  bottom: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
}

footer a {
  color: #ffd900;
  text-decoration: none;
}

footer a .hover {display: none;}
footer a:hover .normal {display: none;}
footer a:hover .hover {display: block;}

/* スマホ */
@media screen and (max-width: 767px) {
  .about-area h2 {margin-bottom: 1rem;}
  .about {width: 100%;}
}